/**
 * body
 */
body {
  margin: 0;
  width: 100%;
  background-color: $background-color;
}

.site-header {
  a {
    color: $header-link-color;
    text-decoration: none;
  }
  a:hover {
    color: $header-link-color-hover;
  }
}
