/**
 * site header
 */
.site-header {
  background-color: $header-color;
  display: flex;
  justify-content: space-between;

  .navigation {
    justify-content: flex-start;

    .site-link {
      padding: 5px;
    }
  }

  .links {
    justify-content: flex-end;
    align-self: center;
    padding-left: 28px;
    padding-right: 28px;

    .social-icon {
      border-radius: 50%;
      width: 26px;
      height: 26px;
    }

    .social-icon:hover {
      background-color: $header-link-color-hover;
    }

    .social-link {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

/**
 * home
 */
.home-title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 40px;

  .image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 10px;
  }

  .title {
    align-self: center;
    margin: 10px;
    text-align: center;
  }
}

.home-content {
  display: flex;
  justify-content: center;

  .content-wrapper {
    max-width: $content-width;
  }
}
