/**
 * site header
 */
.site-header {
  display: flex;
  justify-content: space-between;
}

.site-links {
  justify-content: flex-start;
  align-self: center;
  padding: 14px 28px;

  .site-link {
    padding: 5px;
  }
}

.other-links {
  justify-content: flex-end;
  align-self: center;
  padding-left: 28px;
  padding-right: 28px;

  .other-icon {
    width: 20px;
    height: 20px;
  }

  .other-link {
    padding-left: 5px;
    padding-right: 5px;
  }
}

/**
 * home
 */
.home {
  padding-left: 32px;
  padding-right: 32px;
}

.home-title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 32px 0px 32px;

  .image {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    margin: 10px;
  }

  .title {
    align-self: center;
    margin: 10px;
    text-align: center;
  }
}

.home-content {
  display: flex;
  justify-content: center;

  .content-wrapper {
    max-width: $content-width;
  }
}
