<header class="site-header" role="navigation">

    <div class="navigation">
      <a class="site-link" href="{{ "/" | relative_url }}">HOME</a>
    </div>

    <div class="links">
      {% if site.twitter_username and site.twitter_link %}
        {% include social_link.html link=site.twitter_link username=site.twitter_username icon=site.twitter_icon %}
      {% endif %}

      {% if site.github_username and site.github_link %}
        {% include social_link.html link=site.github_link username=site.github_username icon=site.github_icon %}
      {% endif %}
    </div>

</header>
