@charset "utf-8";

// Width of the content area
$content-width: 800px !default;

// Colors
$ghost-white: #ffffff;
$dark-ghost-white: #d1d0d2;

$raisin-black: #201f1f;

$smoky-black: #0c0a00;

// Background colors
$background-color: $ghost-white;
$header-color: $raisin-black;

// Text colors
$header-link-color: $ghost-white;
$header-link-color-hover: $dark-ghost-white;

$content-color: $smoky-black;

// Font sizes
$header-navigation-font-size: 0.8rem;
$title-font-size: 3rem;
$title-font-size-step: 0.2rem;
$content-font-size: 1.5rem;

// Import
@import
  "theme/base",
  "theme/layout"
;
